<div class="row">
  <% latest_posts.each do |latest_post| %>
    <div class="col-12 col-lg-3 col-md-4 col-sm-6">
      <div class="card text-center shadow bg-white rounded my-2">
        <p class="mt-2 font-weight-bold"><%= latest_post.title %></p>
        <%= link_to post_path(latest_post) do %>
          <%= attachment_image_tag latest_post, :post_image, :fill, 200, 200, format: 'jpeg', class: "post_img p-2" %>
        <% end %>
        <p class="caption"><i class="fas fa-comment"></i> <%= "#{latest_post.comments.count}" %></p>
        <p class='mt-2 mb-2 font-weight-bold'>by
          <%= link_to latest_post.user.name, user_path(latest_post.user), class: 'card-text text-wrap' %>
        </p>
      </div>
    </div>
  <% end %>
</div>