<!---------- 投稿編集フォーム -------------->
<div class="post-form">
  <div class="container mt-4 align-imtes-center">
    <p class="btn-sticky m-2">EDIT POST</p>
    <div class='mx-auto mb-5'>

    <%= form_with model: @post, local:true do |f| %>

      <div class="row">
        <div class="col-md-6 col-lg-5 offset-lg-1 mt-3">
          <div class="form-group mt-4 ml-md-2">
            <%= f.text_field :title, placeholder: "投稿名", size: "40", class: 'mb-3 form-control' %>
            <%= render 'layouts/error_messages', obj: @post, column: :title %>
            <%= f.text_area :introduction, placeholder: "説明", size: "45 x 4", class: 'p-2 form-control' %>
            <%= render 'layouts/error_messages', obj: @post, column: :introduction %>
          </div>
        </div>

        <div class="mx-auto from-group mr-md-2 ml-md-5 bg-white shadow-sm">
          <h6 class="mb-3"><i class="fas fa-camera mt-4 ml-4"></i>写真をアップロード</h6>
          <%= f.file_field :post_image, class: 'ml-3 mb-3' %>
          <%= render 'layouts/error_messages', obj: @post, column: :post_image %>
        </div>
      </div>

      <!--材料のフォームを追加・削除-->
      <div class="mx-auto mr-md-2 mt-4 mb-3 ml-md-5 p-3 bg-white shadow-sm">
        <div id="ingredients">
          <%= f.fields_for :ingredients do |t| %>
            <%= render "public/posts/ingredient_fields", f: t %>
          <% end %>
        </div>

        <div id="detail-association-insertion-point"></div>

        <div class="col-10 mx-auto mt-2 add-ingredient">
          <%= link_to_add_association "+フォームを追加", f, :ingredients,
            class: "btn-flat-border text-center",
            data: {
            association_insertion_node: '#detail-association-insertion-point',
            association_insertion_method: 'after'}
            %>
        </div>
        <%= render 'layouts/error_messages', obj: @post, column: :ingredients %>
        <%= render 'layouts/error_messages', obj: @post, column: :"ingredients.name" %>
        <%= render 'layouts/error_messages', obj: @post, column: :"ingredients.shop_name" %>
        <%= render 'layouts/error_messages', obj: @post, column: :"ingredients.price" %>
      </div>

      <div class="row">
        <div class="col-12">
          <group class="inline-radio">
            <div>
              <%= f.radio_button :commentable, :false %>
              <%= f.label :commentable, "コメント不可" %>
            </div>
            <div>
              <%= f.radio_button :commentable, :true %>
              <%= f.label :commentable, "コメント許可" %>
            </div>
          </group>
        </div>
      </div>

      <div class="row mt-4">
        <div class="form-inline mx-auto">
          <% if @post.is_draft == true %>
            <%= f.submit "投稿を公開", :name => 'publicize_draft', class: 'm-5 btn-flat-border' %>
            <%= f.submit "下書きを更新", :name => 'update_draft', class: 'm-5 btn-flat-border' %>
          <% else %>
            <%= f.submit "投稿を更新", :name => 'update_post', class: 'm-5 btn-flat-border' %>
          <% end %>
        </div>
      </div>

      <div class="pb-3 text-center">
        <%= link_to "投稿を削除", "/posts/#{@post.id}", method: :delete, data: {confirm: "この投稿を削除しますか？"}, class: 'btn-flat-border' %>
      </div>

      <%= f.hidden_field :user_id, :value => current_user.id %>
    <% end %>

    </div>
  </div>
</div>