<!--------- 投稿一覧画面 ------------>
<div class="post-form">
  <div class="container">
    <p class="btn-sticky m-2">POSTS</p>
    <div class="row">
      <% @latest_posts.each do |latest_post| %>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
          <div class="card text-center shadow bg-white rounded my-2">
            <p class="mt-2"><%= latest_post.title %></p>
            <%= link_to post_path(latest_post) do %>
              <%= image_tag latest_post.post_image.url, class: "post_img p-2" %>
            <% end %>
            <p class='mr-1 mt-2 mb-2'>by
              <%= link_to latest_post.user.name, user_path(latest_post.user), class: 'card-text text-wrap' %>
            </p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="mx-auto mb-5">
        <%= paginate @latest_posts %>
      </div>
    </div>
  </div>
</div>