<!---------- 投稿フォーム -------------->
<div class="post-form">
  <div class="container mt-4 align-items-center">
    <p class="btn-sticky m-2">NEW POST</p>
    <div class='mx-auto mb-5'>

    <%= form_with model: @post, local: true do |f| %>

      <div class="row">
        <div class="col-md-12 col-lg-6 mt-3">
          <div class="form-group mt-4 ml-md-2">
            <%= f.text_field :title, placeholder: "タイトル", size: '40', class: 'mb-3 form-control' %>
            <%= render 'layouts/error_messages', obj: @post, column: :title %>
            <%= f.text_area :introduction, placeholder: "紹介", size: '45x4', class: 'p-2 form-control' %>
            <%= render 'layouts/error_messages', obj: @post, column: :introduction %>
          </div>
        </div>

        <div class="col-md-12 col-lg-6 mt-3">
          <div class="form-group mx-auto mt-4 ml-md-2 bg-white shadow-sm pb-3">
            <h6 class="mb-3"><i class="fas fa-camera mt-4 ml-4"></i>写真をアップロード</h6>
            <%= f.attachment_field :post_image, id: :user_img, class: "ml-3 mb-3" %>
            <%#= image_tag @post.post_image.url, id: :img_prev, size: '100x100' %>
            <%= render 'layouts/error_messages', obj: @post, column: :post_image %>
          </div>
        </div>
      </div>


      <!--材料のフォームを追加・削除-->
      <div class="mx-auto mr-md-2 mt-3 mb-3 ml-md-5 p-3 bg-white shadow-sm">
        <p class="btn-sticky m-2">INGREDIENT</p>
        <div id="ingredients">
          <%= f.fields_for :ingredients do |t| %>
            <%= render "public/posts/ingredient_fields", f: t %>
          <% end %>
        </div>

        <div id="detail-association-insertion-point"></div>

        <div class="col-10 mx-auto mt-2">
          <%= link_to_add_association "+フォームを追加", f, :ingredients,
            class: "btn-flat-border text-center add_ingredient",
            data: {
            association_insertion_node: '#detail-association-insertion-point',
            association_insertion_method: 'after'}
            %>
        </div>
        <%= render 'layouts/error_messages', obj: @post, column: :ingredients %>
        <%= render 'layouts/error_messages', obj: @post, column: :"ingredients.name" %>
        <%= render 'layouts/error_messages', obj: @post, column: :"ingredients.shop_name" %>
        <%= render 'layouts/error_messages', obj: @post, column: :"ingredients.price" %>
      </div>

      <!--使い方のフォームを追加・削除-->
      <div class="mx-auto mr-md-2 mt-3 mb-3 ml-md-5 p-3 bg-white shadow-sm">
        <p class="btn-sticky m-2">GUIDE</p>
        <div id="guides">
          <%= f.fields_for :guides do |t| %>
            <%= render "public/posts/guide_fields", f: t %>
          <% end %>
        </div>

        <div id="guide-association-insertion-point"></div>

        <div class="col-10 mx-auto mt-2">
          <%= link_to_add_association "+フォームを追加", f, :guides,
            class: "btn-flat-border text-center add_guide",
            data: {
            association_insertion_node: '#guide-association-insertion-point',
            association_insertion_method: 'after'}
            %>
        </div>
        <%= render 'layouts/error_messages', obj: @post, column: :guides %>
        <%= render 'layouts/error_messages', obj: @post, column: :"guides.guide_image" %>
        <%= render 'layouts/error_messages', obj: @post, column: :"guides.body" %>
      </div>

      <!--コメント可否-->
      <group class="inline-radio">
        <div>
          <%= f.radio_button :commentable, :false %>
          <%= f.label :commentable, "コメント不可" %>
        </div>
        <div>
          <%= f.radio_button :commentable, :true %>
          <%= f.label :commentable, "コメント許可" %>
        </div>
      </group>

      <div class="row mt-4 mb-4">
        <div class="mx-auto text-center">
          <%= f.submit '投稿を公開', :name => 'save_post', class: 'm-5 btn-flat-border' %>
          <%= f.submit '下書きに保存', :name => 'draft', class: 'm-5 btn-flat-border' %>
        </div>
      </div>

      <%= f.hidden_field :user_id, :value => current_user.id %>
    <% end %>

    </div>
  </div>
</div>