<!---------- 投稿詳細 -------------->
<div class="post-form">
  <div class="container">
    <p class="btn-sticky m-2">POST DETAIL</p>
    <div class="text-center">
      <h2 class="px-3"><%= @post.title %></h2>
    </div>
    <div class="row">
      <div class="mx-auto">
        <p>by
        <% if admin_signed_in? %>
          <%= link_to "#{@post.user.name}", admin_user_path(@post.user.id) %>
        <% else %>
          <%= link_to "#{@post.user.name}", user_path(@post.user.id) %>
        <% end %>
        </p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="mx-auto">
        <%= image_tag @post.post_image.url %>
      </div>
    </div>
    <div class="row mt-2">
      <div class="mx-auto">
        <%= @post.created_at.to_s(:datetime_jp) %>
      </div>
    </div>
    <div class="row mt-4 mb-3">
      <p class="mx-auto text-wrap text-center px-3"><%= @post.introduction %></p>
    </div>


    <div class="row text-center mx-auto" style="justify-content: center; width: 70%;">
      <!--いいねボタン-->
      <div id="like_<%= @post.id %>" class="col-12 col-sm-4"><%= render "public/likes/like-btn", like_post: @post %></div>
      <!--ブックマークボタン-->
      <div id="book_<%= @post.id %>" class="col-12 col-sm-4"><%= render "public/bookmarks/bookmark-btn", bookmark_post: @post %></div>
      <!--コメント一覧-->
      <div class="col-12 col-sm-4">
        <p><i class="fas fa-comment"></i> <%= @post.checked_commentable? %></p>
      </div>
    </div>

    <!--材料一覧-->
    <div class="row mt-4 text-center table-responsive">
      <table style="width: 60%" class="table table-borderless text-nowrap mx-auto">
        <thead class="border-bottom">
          <th class="d-flex pb-0 mb-2">
            <h5 class="mb-0">材料</h5>
            <p class="mb-0 ml-1 pt-1"></p>
          </th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <% @post.ingredients.each do |ingredient| %>
          <tr>
            <td style="width: 40%" class='pt-4'><%= ingredient.name %></td>
            <td style="width: 30%" class='pt-4'><%= ingredient.shop_name %></td>
            <td style="width: 30%" class='pt-4'><%= ingredient.price %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!--使い方一覧-->
    <div class="row mt-4 text-center table-responsive">
      <table style="width: 60%" class="table table-borderless text-nowrap mx-auto">
        <thead class="border-bottom">
          <th class="d-flex pb-0 mb-2">
            <h5 class="mb-0">使い方</h5>
            <p class="mb-0 ml-1 pt-1"></p>
          </th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <% @post.guides.each do |guide| %>
          <tr>
            <td style="width: 40%" class='pt-4'><%= guide.body %></td>
            <td style="width: 30%" class='pt-4'><%= attachment_image_tag guide, :guide_image, :fill, 150, 150, size: '150x150' %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="row mt-4">
      <div class="mx-auto">
        <% if user_signed_in? && @post.written_by?(current_user) %>
          <%= link_to "投稿を編集", edit_post_path(@post.id), class: 'btn btn-md btn-outline-primary mb-4' %>
        <% end %>
      </div>
    </div>


    <!--コメント投稿フォーム-->
    <div class="row mt-4" style="width: 60%; margin: 0 auto;">
      <% if @post.commentable == true %>
        <div id="comment_<%= @post.id %>" class="col-12 col-lg-6 col-sm-12 mb-3"><%= render "public/comments/index", comments: @comments %></div>
        <div class="col-12 col-lg-6 col-sm-12">
          <% if user_signed_in? %>
            <%= form_with model:[@post, @comment] do |f| %>
              <div class="row">
                <div class="error_explanation text-center"></div>
              </div>
              <div class="mx-auto">
                <%= f.text_area :comment, class: "form-control", placeholder: "コメントする" %>
                <div id="star"></div>
                <%= f.submit "送信する", class: "btn btn-md btn-outline-primary text-center" %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('#star').empty();
  $('#star').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    scoreName: 'comment[rate]'
  });
</script>