<!---------- 投稿詳細 -------------->

<div class="row">
  <div class="mx-auto mt-5">
    <h2 class="jp-font-classic px-3"><%= @post.title %></h2>
  </div>
</div>
<div class="row">
  <div class="mx-auto">
    <p class="jp-font-classic">by
    <% if admin_signed_in? %>
      <%= link_to "#{@post.user.name}", admin_user_path(@post.user.id), class: 'font-color-green' %></p>
    <% else %>
      <%= link_to "#{@post.user.name}", user_path(@post.user.id), class: 'font-color-green' %></p>
    <% end %>
  </div>
</div>
<div class="row mt-2">
  <div class="mx-auto">
    <%= attachment_image_tag @post, :post_image, :fill, 100, 100, format: 'jpeg' %>
  </div>
</div>
<!--いいねボタン-->
<div class="row mt-4 mb-3">
  <p style="width: 450px" class="mx-auto text-wrap text-center px-3"><%= @post.introduction %></p>
  
<!--ブックマークボタン-->
  <p style="width: 450px" class="mx-auto text-wrap text-center px-3">
    <% if @post.bookmarked_by?(current_user) %>
      <%= link_to post_bookmarks_path(@post), method: :delete, class: "bookmark_btn" do %>
        ★<%= @post.bookmarks.count %> ブックマーク
      <% end %>
    <% else %>
      <%= link_to post_bookmarks_path(@post), method: :post, class: "bookmark_btn" do %>
        ☆<%= @post.bookmarks.count %> ブックマーク
      <% end %>
    <% end %>
   </p>
</div>

<!--材料のフォーム追加・削除-->
<div class="row mt-4">
  <table style="width: 60%" class="table table-borderless mx-auto">
    <thead class="border-bottom">
      <th class="d-flex pb-0 mb-2">
        <h5 class="mb-0 jp-font-classic">材料</h5>
        <p class="mb-0 ml-1 pt-1 jp-font-classic"></p>
      </th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <% @post.ingredients.each do |ingredient| %>
      <tr>
        <td style="width: 45%" class='pt-4 pl-4'><%= ingredient.name %></td>
        <td style="width: 10%" class='pt-4'><%= ingredient.shop_name %></td>
        <td style="width: 10%" class='pt-4'><%= ingredient.price %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row mt-4">
  <div class="mx-auto">
    <% if user_signed_in? && @post.user_id == current_user.id %>
      <u><%= link_to "投稿を編集", edit_post_path(@post.id), class: 'btn btn-sm btn-warning text-white mb-4' %></u>
    <% end %>
  </div>
</div>

<!--コメントフォーム・一覧-->
<div class="row mt-2">
  <div class=" mx-auto">
    <p>コメントステータス</p>
    <% if @post.commentable == false %>
      <p><%= @post.commentable_status %></p>
    <% else %>
      <p><%= @post.commentable_status %></p>
    <% end %>
  </div>
</div>

<div class="comments ml-5 mt-5">
  <% if @post.commentable == true %>
    <%= form_with(model:[@post, @comment], local: true) do |f| %>
      <%= f.text_area :comment, :size=>"60x3",placeholder: "コメントする" %>
      <%= f.submit "送信する", class: "btn btn-success mb-4" %>
    <% end %>
    <p>コメント件数：<%= @comments.count %></p>
    <div class="comments-index mb-2">
      <% @comments.each do |comment| %>
        <%= comment.user.name %>
        <%= comment.created_at.strftime('%Y/%m/%d') %><br>
        <div class="d-flex">
          <%= comment.comment %>
          <% if comment.user == current_user %>
            <div class="comment-delete">
              <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, class: "btn-sm btn-danger" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%#= paginate @comments %>
</div>