<!--------- TOP20（ランキング）投稿 ------------>
<div class="container">
  <h3 class="mt-4 pl-3"><i class="fas fa-star"></i> TOP10</h3>

  <div class="row">
    <div class="col-md-12">
      <hr class="border-bottom">
    </div>
  </div>

  <div class="row mb-5">
    <div class="d-flex flex-wrap">
      <% @post_ranks.each.with_index(1) do |post_rank, i| %>
        <div style='width: 210px' class="card text-center p-3 mr-3 my-3">
          <div class="card-header p-1">
            NO. <%= i %>
          </div>
          <%= link_to post_path(post_rank) do %>
            <%= attachment_image_tag post_rank, :post_image, :fill, 150, 150, format: 'jpeg', class: "post_img p-2" %>
          <% end %>
          <%= link_to post_rank.title, post_path(post_rank), class: 'card-text text-wrap mt-1' %>
          <p class='mr-1 mt-2 mb-0'>by
            <%= link_to post_rank.user.name, user_path(post_rank.user), class: 'card-text text-wrap mt-2' %>
          </p>
        </div>
      <% end %>
    </div>
  </div>

</div>