<div class="comment-count">コメント件数：<%= comment_post.comments.count %></div>
<% comment_post.comments.each do |comment| %>
  <%= comment.user.name %>
  <%= comment.created_at.strftime('%Y/%m/%d') %><br>
  <div class="d-flex">
    <%= comment.comment %>
    <% if comment.user == current_user %>
      <div class="comment-delete">
        <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, remote: true, class: "btn-sm btn-danger" %>
      </div>
    <% end %>
  </div>
<% end %>