<div class="comment-count"><i class="fas fa-comment"></i> <%= comments.count %></div>
<div>
  <% comments.each do |comment| %>
    <div class="star-rate" data-score="<%= comment.rate %>"></div>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><br>
    <%= comment.comment %>
    <% if comment.user == current_user %>
      <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, remote: true, class: "btn-sm btn-danger" %>
    <% end %><br>
  <% end %>
</div>

<script>
  $('.star-rate').empty();
  $('.star-rate').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    score: function() {
      return $(this).attr('data-score');
    }
    // path: '/assets/'
  });
</script>