<!----------- 管理者側：チャット内容の部分テンプレート -------------->
  <div class="row mt-3 mb-5">
    <div class="chat-area">
      <% chats.each do |chat| %>
        <!--管理者(admin)のチャット内容-->
        <% if chat.admin_id != nil %>
          <div class="line__right">
            <div class="text"><%= chat.message %></div>
            <span class="date"><%= chat.created_at.to_s(:time) %></span>
          </div>
        <!--顧客(user)のチャット内容-->
        <% elsif chat.user_id == user.id %>
          <div class="line__left">
            <div class="name"><%= chat.user.name %></div>
            <div class="text"><%= chat.message %></div>
            <span class="date"><%= chat.created_at.to_s(:time) %></span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>