<!----------- 管理者側：チャット問い合わせ -------------->
<div class="container">
  <p class="btn-sticky m-2">CHAT</p>
  <div class="mx-auto">
    <h3 class="text-center">お問い合わせ</h3>
  </div>

  <div id="admin_add-chat-bubble">
    <%= render partial: 'admin/chats/chat_bubbles', locals: { chats: @chats, user: @user } %>
  </div>

  <!--チャットメッセージ投稿フォーム-->
  <div class="mt-1 mx-auto">
    <div class="form-width">
      <%= form_with model: [:admin, @chat], remote: true do |f| %>
      <div class="row">
        <div class="error_explanation text-center"></div>
      </div>
        <%= f.text_area :message, size: '45x4', placeholder: "メッセージを入力", class: 'mb-3 clear-form form-control' %>
        <%= f.hidden_field :chat_room_id %>
        <%= f.hidden_field :is_admin, value: true %>
      <div class="text-center">
        <%= f.submit "送信", class: 'btn btn-lg btn-outline-secondary' %>
      <% end %>
      </div>
    </div>
  </div>

</div>