<main>
  <div id="carouselFadeExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active active1">
      <%= image_tag "happy.jpg", class: "d-block w-100" %>
      <p>ToOccupational</br>Therapist</p>
      <% unless user_signed_in? %>
        <div class="guest_signin d-flex">
          <div class="guest_user"><%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn-guest p-3 m-2" %></div>
          <div class="guest_admin"><%= link_to "管理者ログイン", new_admin_session_path, class: "btn-guest p-3 m-2" %></div>
        </div>
      <% end %>
    </div>
    <div class="carousel-item active2">
      <%= image_tag "background.jpg", class: "d-block w-100" %>
      <h1>TOOTとは</h1></br>
      <p>作業療法士が、自助具を投稿・共有</br>検索できるアプリケーション</p>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselFadeExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselFadeExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
  <div class="container">
    <p class="btn-sticky m-2 mt-3">POSTS</p>
  </div>
  <div class="d-flex flex-wrap" style="justify-content: center;">
    <%= render 'public/posts/index', latest_posts: @posts %>
  </div>
  <div class="container">
    <p class="btn-sticky m-2">RANKING</p>
    <div class="top">
      <% @post_ranks.each do |post_rank| %>
        <%= link_to post_path(post_rank) do %>
          <%= attachment_image_tag post_rank, :post_image, :fill, 200, 200, format: 'jpeg', class: "image1 rounded-circle" %>
        <% end %>
      <% end %>
    </div>
  </div>
</main>