<!------------- 顧客側：チャット問い合わせ ----------------->
<div class="container">

  <div class="row mt-5">
    <div class="mx-auto">
      <h3 class="jp-font-classic text-center">お問い合わせ</h3>
      <p class="jp-font-classic text-center">チャット</p>
    </div>
  </div>

  <div class="add-chat-bubble">
    <%= render partial: 'chat_bubbles', locals: { chats: @chats } %>
  </div>

  <!--チャットメッセージ投稿フォーム-->
  <div class="row">
    <div class="error_explanation offset-md-3"></div>
  </div>
  <div class="row mt-1">
    <%= form_with model: @chat, remote: true do |f| %>
      <div class="chat-area mx-auto">
        <%= f.text_area :message, size: '45x4', placeholder: "メッセージを入力してください", class: 'p-3 clear-form' %>
        <%= f.hidden_field :chat_room_id %>
        <%= f.hidden_field :is_admin, value: false %>
        <%= f.submit "送信", class: 'btn btn-sm btn-outline-secondary ml-4 chat_button'%>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="form-group offset-md-8 offset-lg-7" id="response_button">
      <%= render partial: 'chat_response', locals: { chat_room: @chat.chat_room } %>
    </div>
  </div>

</div>