<div class="text-center">
  <h1 class="h3 mt-3 font-weight-normal">SIGN UP</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-signin" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.label :name, class: "sr-only" %><br />
    <%= f.text_field :name, placeholder: "ユーザー名", class: "form-control", autofocus: true, autocomplete: "name" %>
    <%= f.label :email, class: "sr-only" %><br />
    <%= f.email_field :email, placeholder: "メールアドレス", class: "form-control", autocomplete: "email" %>
    <%= f.label :password, class: "sr-only" %><br />
    <%= f.password_field :password, placeholder: "パスワード", class: "form-control", autocomplete: "new-password" %>
    <%= f.label :password_confirmation, class: "sr-only" %>
    <%= f.password_field :password_confirmation, placeholder: "パスワード(確認用)", class: "form-control", autocomplete: "new-password" %><br />
    <%= f.submit "Sign up", class: "btn-lg btn-flat-border btn-block" %>
  <% end %>
</div>