<div class="row">
  <div class="mx-auto mt-5">
    <h2 class="jp-font-classic px-3"><%= post_show.title %></h2>
  </div>
</div>
<div class="row">
  <div class="mx-auto">
    <p class="jp-font-classic">by
    <% if admin_signed_in? %>
      <%= link_to "#{post_show.user.name}", admin_user_path(post_show.user.id), class: 'font-color-green' %></p>
    <% else %>
      <%= link_to "#{post_show.user.name}", user_path(post_show.user.id), class: 'font-color-green' %></p>
    <% end %>
  </div>
</div>
<div class="row mt-2">
  <div class="mx-auto">
    <%= attachment_image_tag post_show, :post_image, :fill, 100, 100, format: 'jpeg' %>
  </div>
</div>
<div class="row mt-2">
  <div class="mx-auto">
    <%= post_show.created_at %>
  </div>
</div>
<div class="row mt-4 mb-3">
  <p style="width: 450px" class="mx-auto text-wrap text-center px-3"><%= post_show.introduction %></p>
  <!--いいねボタン-->
  <div id="like_<%= post_show.id %>"><%= render "public/likes/like-btn", like_post: post_show %></div>
  <!--ブックマークボタン-->
  <div id="book_<%= post_show.id %>"><%= render "public/bookmarks/bookmark-btn", bookmark_post: post_show %></div>
</div>

<!--材料のフォーム追加・削除-->
<div class="row mt-4">
  <table style="width: 60%" class="table table-borderless mx-auto">
    <thead class="border-bottom">
      <th class="d-flex pb-0 mb-2">
        <h5 class="mb-0 jp-font-classic">材料</h5>
        <p class="mb-0 ml-1 pt-1 jp-font-classic"></p>
      </th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <% post_show.ingredients.each do |ingredient| %>
      <tr>
        <td style="width: 45%" class='pt-4 pl-4'><%= ingredient.name %></td>
        <td style="width: 10%" class='pt-4'><%= ingredient.shop_name %></td>
        <td style="width: 10%" class='pt-4'><%= ingredient.price %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row mt-4">
  <div class="mx-auto">
    <% if user_signed_in? && post_show.user_id == current_user.id %>
      <u><%= link_to "投稿を編集", edit_post_path(post_show.id), class: 'btn btn-sm btn-warning text-white mb-4' %></u>
    <% end %>
  </div>
</div>

<!--コメント一覧-->
<div class="row mt-2">
  <div class=" mx-auto">
    <p>コメントステータス</p>
    <% if post_show.commentable == false %>
      <p><%= post_show.commentable_status %></p>
    <% else %>
      <p><%= post_show.commentable_status %></p>
    <% end %>
  </div>
</div>