<% if activity.read == "unread" %>
  <div class="activity_unread border">
    <%= link_to read_activity_path(activity), class: "list-group-item-light #{'read' if activity.read?}", method: :patch do %>
      <p class="m-0 p-3"><%= activity.subject.user.name %>があなたの投稿をブックマークしました<%= activity.created_at.to_s(:datetime_jp) %></p>
    <% end %>
  </div>
<% else %>
  <div class="activity_read border">
    <%= link_to read_activity_path(activity), class: "list-group-item-light #{'read' if activity.read?}", method: :patch do %>
      <p class="m-0 p-3"><%= activity.subject.user.name %>があなたの投稿をブックマークしました<%= l activity.created_at.to_s(:datetime_jp) %></p>
    <% end %>
  </div>
<% end %>