<div class="container">

  <div class="row">
    <h3 style='width: 100%' class="page-heading-pink mx-auto mt-5 py-1 text-center">投稿一覧</h3>
    <%= link_to "カテゴリー一覧", admin_categories_path, class: 'm-5 btn-flat-border' %>
  </div>

  <div class="row">
    <div class="col-md-4 offset-md-8">
      <h6 class="text-right mr-5 jp-font"><i class="fas fa-book-open"></i> <%= @post_count %></h6>
    </div>
  </div>

  <div class="row">
    <table style="width: 80%" class="table table-borderless mx-auto">
      <% @latest_posts.each do |latest_post| %>
        <tr class="mt-5 border-bottom">
          <td style="width: 10%" class='px-1 py-4 align-middle text-center'>
            <%= link_to latest_post.title, admin_post_path(latest_post) %>
          </td>
          <td style="width: 15%" class='text-center'>
            <%= link_to admin_post_path(latest_post) do %>
              <%= attachment_image_tag latest_post, :post_image, :fill, 200, 200, format: 'jpeg', class: 'm-2' %>
            <% end %>
          </td>
          <td style="width: 15%" class="py-0 px-1 align-middle text-center">
            <% if latest_post.is_draft == true && latest_post.user.is_deleted == true %>
              <p class="inactive_color mb-0 text-center">非公開<br />（退会済）</p>
            <% elsif latest_post.is_draft == true %>
              <p class="inactive_color mb-0 text-center">非公開<br />（下書き）</p>
            <% else %>
              <p class="active_color mb-0 text-center">公開</p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="row">
    <div class="mx-auto mt-4 mb-5">
      <%= paginate @latest_posts %>
    </div>
  </div>
</div>