<div class="container">
  <p class="btn-sticky m-2">CATEGORY</p>
  <h3 class="mx-auto py-1 text-center">カテゴリ一覧・追加</h3>

  <div class="row">
    <div class="col-6 offset-3">
      <div class="form-group mt-4 ml-md-2">
        <%= form_with model: @category, url: "/admin/categories", local: true do |f| %>
          <%= f.label :name, "カテゴリ名" %>
          <%= f.text_field :name, placeholder: "投稿名", size: "40", class: 'mb-3 form-control' %>
          <%= render 'layouts/error_messages', obj: @category, column: :name %>
          <%= f.submit "新規登録", class: "btn btn-sm btn-outline-secondary" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row table-responsive">
    <table style="width: 70%" class="table table-borderless text-nowrap mx-auto">
      <thead>
        <tr>
          <th class="text-center">カテゴリー</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
        <tr>
          <td style="width: 40%" class="text-center"><%= category.name %></td>
          <td style="width: 15%" class="text-center"><%= link_to"編集する", edit_admin_category_path(category), class: "btn btn-sm btn-outline-secondary" %></td>
          <td style="width: 15%" class="text-left"><%= link_to"削除する", admin_category_path(category), class: "btn btn-sm btn-outline-secondary", method: :delete, data: {confirm: "本当に消しますか？"} %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>