<div class="container">
  <div class="row">
    <div class="col-md-7 p-0">
      <h2>ジャンル一覧・追加</h2>
      <%= form_with model: @category, url: "/admin/categories", local: true do |f| %>
        <p class="my-3">
          <%= f.label :name, "カテゴリー名" %>
          <%= f.text_field :name %>
          <%= f.submit"新規登録", class: "sbtn btn-4 m-0" %>
        </p>
      <% end %>
      <table class="table">
        <thead>
          <tr>
            <th>カテゴリー</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
          <tr>
            <td class="category-name"><%= category.name %></td>
            <td class="text-center px-0"><%= link_to"編集する", edit_admin_category_path(category), class: "sbtn btn-6 m-0" %></td>
            <td class="text-center px-0"><%= link_to"削除する", admin_category_path(category), class: "sbtn btn-2 m-0 category-delete", method: :delete, data: {confirm: "本当に消しますか？"} %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>