<!---------------- 管理者(会員編集) ------------------>
  <div class="container">
    <p class="btn-sticky m-2">USER</p>
    <h3 class="mx-auto text-center mb-3">会員ステータスの変更</h3>

    <%= form_with model: @user, url: admin_user_path(@user.id), method: :PATCH, local: true do |f| %>
      <table style='width:80%' class="table table-borderless text-nowrap mx-auto">
        <tr>
          <td style="width:50%" class="font-weight-bold text-center">ユーザー名</td>
          <td style="width:50%"><%= @user.name %></td>
        </tr>
        <tr>
          <td style="width:50%" class="font-weight-bold text-center align-middle">プロフィール画像</td>
          <td style="width:50%">
            <%= link_to (attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpg', fallback: "no_image.jpg", size: '100x100', class: 'rounded-circle'), admin_user_path(@user.id) %>
          </td>
        </tr>
        <tr>
          <td style="width:50%" class="font-weight-bold text-center">自己紹介</td>
          <td style="width:50%"><%= @user.introduction %></td>
        </tr>
        <tr>
          <td style="width:50%" class="font-weight-bold text-center">メールアドレス</td>
          <td style="width:50%"><%= @user.email %></td>
        </tr>
        <tr class="form-group">
          <td style="width:50%" class="font-weight-bold text-center">会員ステータス</td>
          <td style="width:50%">
            <%= f.radio_button :is_deleted, :false %>
            <%= f.label :is_deleted, "有効" %>
            <%= f.radio_button :is_deleted, :true %>
            <%= f.label :is_deleted, "退会済" %>
          </td>
        </tr>
      </table>

      <div class="row mt-4">
        <div class="form-inline mx-auto">
          <%= f.submit '変更', class: 'btn btn-md btn-outline-secondary', data: { confirm: "本当に#{@user.name}さんの会員ステータスを変更しますか？" } %>
          <%= link_to "戻る", admin_user_path(@user.id), class: 'btn btn-md btn-outline-secondary ml-4' %>
        </div>
      </div>
    <% end %>
  </div>