<!--管理者(会員一覧)-->
<div class="container">
  <p class="btn-sticky m-2">USERS</p>
  <h3 class="mx-auto py-1 text-center">会員一覧</h3>

  <div class="row mb-3">
    <div class="col-6 offset-6 text-right">
      <h6 class="text-right mr-5"><i class="fas fa-user-circle"></i> <%= @user_count %></h6>
    </div>
  </div>

  <div class="row">
    <table style="width: 90%" class="table table-borderless mx-auto">
      <% @users.each do |user| %>
        <tr class="mt-5 border-bottom">
          <td style="width: 5%" class='text-right'>
            <%= link_to (attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpg', fallback: "no_image.jpg", size: '100x100', class: 'rounded-circle'), admin_user_path(user.id) %>
          </td>
          <td style="width: 15%" class='px-1 py-4 align-middle text-center'>
            <%= link_to user.name, admin_user_path(user.id) %>
          </td>
          <td style="width: 8%" class="py-0 px-1 align-middle text-center">
            <% if user.is_deleted == false %>
              <p class="active_color mb-0"><%= user.deleted_status %></p>
            <% else %>
              <p class="inactive_color mb-0"><%= user.deleted_status %></p>
            <% end %>
          </td>
          <td style="width: 10%" class="py-0 px-1 align-middle text-center">
            <%= link_to "CHAT", admin_chat_path(user), class: 'btn btn-sm btn-outline-secondary', style: 'font-size: 13px' %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="row">
    <div class="mx-auto mt-4 mb-5">
    <%= paginate @users %>
    </div>
  </div>
</div>