<!---------------- 管理者(会員詳細) ------------------>

<div class="d-flex align-items-center">
  <div class="container">
    <p class="btn-sticky m-2">USER</p>
    <h3 class="mx-auto text-center mb-3"><%= @user.name %>さんの会員情報</h3>

    <table style='width:80%' class="table table-borderless text-nowrap mx-auto">
      <tr>
        <td style="width:50%", class="font-weight-bold text-center">ユーザー名</td>
        <td style="width:50%"><%= @user.name %></td>
      </tr>
      <tr>
        <td style="width:50%" class="font-weight-bold text-center align-middle">プロフィール画像</td>
        <td style="width:50%">
          <%= link_to (attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpg', fallback: "no_image.jpg", size: '100x100', class: 'rounded-circle'), admin_user_path(@user.id) %>
        </td>
      </tr>
      <tr>
        <td style="width:50%", class="font-weight-bold text-center">自己紹介</td>
        <td style="width:50%"><%= @user.introduction %></td>
      </tr>
      <tr>
        <td style="width:50%", class="font-weight-bold text-center">メールアドレス</td>
        <td style="width:50%"><%= @user.email %></td>
      </tr>
      <tr>
        <td style="width:50%", class="font-weight-bold text-center">会員ステータス</td>
          <% if @user.is_deleted == false %>
            <td style="width:50%"><%= @user.deleted_status %></td>
          <% else %>
            <td style="width:50%"><%= @user.deleted_status %></td>
          <% end %>
      </tr>
    </table>

    <div class="row mt-4">
      <div class="form-inline mx-auto">
        <%= link_to "編集", edit_admin_user_path(@user.id), class: 'btn btn-md btn-outline-secondary' %>
        <%= link_to "戻る", admin_users_path, class: 'btn btn-md btn-outline-secondary ml-4' %>
      </div>
    </div>
  </div>
</div>