<div class="container">
  <% breadcrumb :user_follow, @user %>
  <p class="btn-sticky m-2">FOLLOW</p>
  <table id="user-table" class="table table-borderless mt-4">
    <% @users.each do |user| %>
      <tr>
        <td class="text-center">
          <%= attachment_image_tag user, :profile_image, :fill, 150, 150, format: 'jpg', fallback: 'no_image.jpg', size: '150x150', class: 'rounded-circle' %>
        </td>
        <td class="align-middle">
          <%= link_to user.name, user_path(user.id) %></br>
          <%= user.introduction %>
        </td>
        <td class="align-middle">
          <i class="fas fa-book-open"></i> <%= user.posts.count %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @users %>
</div>