<!--header-->
<header class="p-3">
  <nav class="navbar navbar-expand-lg navbar-light bg-main">
    <div class="container">
      <h1 class="m-0">
        <%= link_to "TOOT", root_path, class: "navbar-brand d-block top" %>
      </h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#grobalNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="grobalNav" class="collapse navbar-collapse">

        <% if user_signed_in? %>
          <div class="dropdown text-end">
            <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 8px;">
              <%= attachment_image_tag current_user, :profile_image, :fill, 50, 50, format: 'jpg', fallback: 'no_image.jpg', size: '50x50', class: 'rounded-circle activity_budge' %>
              <% unless Activity.unread_count(current_user) == 0 %>
                <span class="fa-stack-1x"></span><i class="fas fa-circle n-circle fa-stack-1x"></i>
              <% end %>
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
              <li><%= link_to "マイページ", user_path(current_user.id), class: "dropdown-item" %></li>
              <li><%= link_to "新規投稿", new_post_path, class: "dropdown-item" %></li>
              <li><%= link_to "投稿一覧", posts_path, class: "dropdown-item" %></li>
              <li><%= link_to "ランキング", posts_rankings_path, class: "dropdown-item" %></li>
              <li>
                <%= link_to activities_path, class: "dropdown-item" do %>
                  <span>通知</span>
                  <% unless Activity.unread_count(current_user) == 0 %>
                    <span><%= Activity.unread_count(current_user) %></span>
                  <% end %>
                <% end %>
              </li>
              <li><%= link_to "お問い合わせ", chats_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </div>
        <% elsif admin_signed_in? %>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item pl-4 active"><%= link_to "会員一覧", admin_users_path, class: "nav-link text-center text" %></li>
            <li class="nav-item pl-4 active"><%= link_to "POST", admin_posts_path, class: "nav-link text-center text" %></li>
            <li class="nav-item pl-4 active"><%= link_to "お問い合わせ", admin_chats_path, class: "nav-link text-center text" %></li>
            <li class="nav-item pl-4 active"><%= link_to "通知", admin_activities_path, class: "nav-link text-center text" %></li>
            <li class="nav-item pl-4 active"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-center text" %></li>
          </ul>
        <% else %>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item pl-4 active"><%= link_to "ABOUT", about_path, class: "nav-link text-center text" %></li>
            <li class="nav-item pl-4 active"><%= link_to "POST", posts_path, class: "nav-link text-center text" %></li>
            <li class="nav-item pl-4 active"><%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "nav-link text-center text" %></li>
            <li class="nav-item pl-4 active"><%= link_to "ログイン", new_user_session_path, class: "nav-link text-center text" %></li>
            <li class="nav-item pl-4 active"><%= link_to "サインアップ", new_user_registration_path, class: "nav-link text-center text" %></li>
          </ul>
        <% end %>

        <%= render 'layouts/search' %>
      </div>
    </div>
  </nav>
</header>








